a.buttontab{
    width: 127px;
    display: inline-block;
    border: 1px #999 solid;
    text-align: center;
    padding: 35px 25px;
    margin-right: 15px;
    color:#82878a;
    text-decoration: none;
}

a.buttontab.active{
    background-color: #f74b27;
    border-color: #f74b27;
    color:#fff;
}

a.buttontab div.single-button{
    background-image: url('./imgs/single_gray.png');
    width:20px;
    height:26px;
    margin:auto;
}

a.buttontab div.couple-button{
    background-image: url('./imgs/couple_gray.png');
    width:30px;
    height:26px;
    margin:auto;
}

a.buttontab.active div.single-button,a.buttontab:hover div.single-button{
    background-image: url('./imgs/single_white.png');
    
}

a.buttontab.active div.couple-button,a.buttontab:hover div.couple-button{
    background-image: url('./imgs/couple_white.png');
    
}

a.buttontab:hover{
    background-color: #f74b27;
    border-color: #f74b27;
    cursor: pointer;
    color:#fff;
}

div.summary-box{
    background-color: #f0eff5;
    padding: 20px;
}

div.right-box{
    margin-top: 35px;
    text-align: center;
}

div.line{
    line-height: 30px;
}

div.line span{
    float:right;
    font-weight:bold;
}

.form-control{
    border-radius: 0px;
}