<div class="row">
    <div class="col-sm-8">
        <h2>Is this a single or joint purchase?</h2>
        <div>
            <a class="buttontab" (click)="triggerSingleApplicant()" [class.active]="!calculator.multiApplicants">
                <div class="single-button"></div>
                
                Single Application
            </a>
            <a class="buttontab" (click)="triggerJointApplicant()" [class.active]="calculator.multiApplicants"> 
                <div class="couple-button"></div>
               
                Joint Application
            </a> 
        </div>
        <h2>What are your details?</h2>
        <div class="row">
            <div class="col-sm-4">
                Age
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.age"  >


            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input  type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.age" >

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Nationality Type
            </div>
            <div class="col-sm-4">
                <select class="form-control" [(ngModel)]="calculator.mainApplicant.nationality">
                    <option *ngFor="let option of nationalities" [value]="option.value" >{{option.name}}</option>
                </select>
            </div>
            <div class="col-sm-4"  [hidden]="!calculator.multiApplicants" >
                <select class="form-control" [(ngModel)]="calculator.jointApplicant.nationality" >
                    <option *ngFor="let option of nationalities" [value]="option.value" >{{option.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Property Owned currently
            </div>
            <div class="col-sm-4">
                <select class="form-control" [(ngModel)]="calculator.mainApplicant.propertyOwn">
                    <option *ngFor="let po of propertyowned" [value]="po.value" >{{po.name}}</option>
                </select>
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants" >
                <select class="form-control" [(ngModel)]="calculator.jointApplicant.propertyOwn" >
                    <option *ngFor="let po of propertyowned" [value]="po.value" >{{po.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Number of Outstanding Loan
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.oustandingLoan"  >
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.oustandingLoan"   >
            </div>
        </div>
        <h2>What is your monthly income?</h2>
        <div class="row">
            <div class="col-sm-4">
                Monthly Fixed Income
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.fixedIncome" (ngModelChange)="onChange()">
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.fixedIncome" (ngModelChange)="onChange()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Average Monthly Variable Income
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.variableIncome" (ngModelChange)="onChange()">
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.variableIncome" (ngModelChange)="onChange()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Monthly Rental Income
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.rentalIncome" (ngModelChange)="onChange()">
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.rentalIncome" (ngModelChange)="onChange()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Monthly Gross Income
            </div>
            <div class="col-sm-4">
                {{calculator.mainApplicant.grossIncome}}
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                {{calculator.jointApplicant.grossIncome}}
            </div>
        </div>
        <h2>What is your monthly expenses?</h2>
        <div class="row">
            <div class="col-sm-4">
                Mortgage Loan (Monthly)
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.mortgageLoan" (ngModelChange)="onChange()">
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.mortgageLoan" (ngModelChange)="onChange()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Car Loan (Monthly)
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.carLoan" (ngModelChange)="onChange()">
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.jointApplicant.carLoan" (ngModelChange)="onChange()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Credit Card Loan (Monthly)
            </div>
            <div class="col-sm-4">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.cardLoan" (ngModelChange)="onChange()">
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                <input type="number" class="form-control" required [(ngModel)]="calculator.mainApplicant.cardLoan" (ngModelChange)="onChange()">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Monthly Expenses
            </div>
            <div class="col-sm-4">
                {{calculator.mainApplicant.monthlyExpenses | number:'.0'}}
            </div>
            <div class="col-sm-4" [hidden]="!calculator.multiApplicants">
                {{calculator.jointApplicant.monthlyExpenses}}
            </div>
        </div>
        <h2>What property type you are interested in?</h2>
        <div class="row">
            <div class="col-sm-4">
                Property Type
            </div>
            <div class="col-sm-4">
                <select class="form-control" [(ngModel)]="calculator.propertyType">
                    <option *ngFor="let pt of propertytype" [value]="pt.value" >{{pt.name}}</option>
                </select>
            </div>
        </div>

        <h2>Desired loan tenure?</h2>
        <input #loanPeriod [(ngModel)]="calculator.loanPeriod" (ngModelChange)="initializeSlider()">
        <div class="slider"></div>

        <div>{{calculator.propertyType}} Years</div>
        <div class="row" style="margin-top:15px;">
            <div class="col-sm-12">
                <div class="summary-box">
                <h3>Summary</h3>
                <div class="line">
                    Max loan amount <span>${{calculator.maxLoanAmount | number:'.0' }}</span>
                </div>
                <div class="line">
                    Max property price <span>${{calculator.maxPropertyPrice | number:'.0'}}</span>
                </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:15px;">
            <div class="col-sm-12">
                <div class="summary-box">
                <h3>Your Affordability Breakdown</h3>
                <div class="line">
                    TDSR LIMIT-60% <span>{{calculator.tdsr60}}</span>
                </div>
                <div class="line">
                    TDSR LIMIT-60% (less expenses) <span>{{calculator.tdsr}}</span>
                </div>
                <div class="line">
                    MSR LIMIT-30% <span>{{calculator.msr30}}</span>
                </div>
                <div class="line">
                    Cash available for servicing mortgage <span>${{calculator.cashAvailableMonthly}}</span>
                </div>
                <div class="line">
                    Loan-to-Value <span>{{calculator.ltv}}</span>
                </div>
                <div class="line">
                    Income-weight average age <span>{{calculator.incomeWeightAveAge}}</span>
                </div>
                <div class="line">
                    Max loan tenure(yrs) - TDSR  <span>{{calculator.maxTenure | number:'.0'}}</span>
                </div>
                <div class="line">
                    Max loan amount <span>${{calculator.maxLoanAmount | number:'.0'}}</span>
                </div>
                <div class="line">
                    Max Property Price <span>${{calculator.maxPropertyPrice | number:'.0'}}</span>
                </div>
                <div class="line">
                    (BSD) <span>${{calculator.bsd | number:'.0'}}</span>
                </div>
                <div class="line">
                    (ABSD) {{calculator.absdRate}}% <span>${{calculator.absd | number:'.0'}}</span>
                </div>
                <div class="line">
                    Total Initial Cash Layout <span>${{calculator.totalCashLayout | number:'.0'}}</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="summary-box right-box">
            <div>Your estimated affordability:</div>
            <h2>${{calculator.maxPropertyPrice | number:'.0'}}</h2>
            <div><span>Loan: ${{calculator.maxLoanAmount | number:'.0'}}</span></div>
        </div>
    </div>
</div>

